* {
    padding: 0px;
    margin: 0px;
}

canvas {
    border: 2px;
    border-style: solid;
    border-color: blue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}