* {
    padding: 0;
    margin: 0;
}
canvas {
    /* box-sizing: border-box; */
    /* border: 4px solid burlywood; */
    opacity: 0.9;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #035365;
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}