* {
    padding: 0px;
    margin: 0px;
}
canvas {
    border: 4px;
    border-style: solid;
    border-color: burlywood;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}